<h1>
    Hello User
</h1>



<mat-form-field appearance="fill">
    <mat-label>DataSource ID</mat-label>
    <input type="number" matInput  [(ngModel)]="dsId">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>DataPoint ID</mat-label>
    <input type="number" matInput  [(ngModel)]="dpId">
  </mat-form-field>

<div>
    <button mat-button (click)="this.getValues()">Get Values</button>
    <div *ngIf="pointValues">
        <div>Current value: {{pointValue || "N/A"}}</div>

        <amchart-component [data]="pointValues"></amchart-component>
    </div>
    
    
</div>


<button (click)="this.loadDs()">Load DS</button>
<button (click)="this.createDs()">Create DS</button>