<div class="login-wrapper">
    <mat-card class="login-card">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content class="login-box">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input type="text" matInput  [(ngModel)]="username">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput  [(ngModel)]="password">
              </mat-form-field>
            
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="this.login()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>