<div class="login-wrapper">
    <mat-card class="login-card">
        <mat-card-title class="text-center">Login</mat-card-title>
        <mat-card-content class="login-box">
            <div class="flex-column">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput [(ngModel)]="username">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [(ngModel)]="password">
                </mat-form-field>

            </div>


            <button mat-raised-button color="accent" (click)="this.login()">Login</button>
        </mat-card-content>
    </mat-card>
</div>