<mat-toolbar>
  <span (click)="drawer.toggle()">Scada Reforged</span>
</mat-toolbar>
<mat-drawer-container class="srf-main" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <mat-list>
      <mat-list-item routerLink="/home">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Home</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item routerLink="/datasources">
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line>DataSources</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item routerLink="/login">
        <mat-icon mat-list-icon>login</mat-icon>
        <div mat-line>Login</div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item routerLink="/login">
        <mat-icon mat-list-icon>logout</mat-icon>
        <div mat-line>Logout</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="srf-contnet">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



