

<div class="login-wrapper">
    <mat-card class="login-card">
        <mat-card-title>Create VDS</mat-card-title>
        <mat-card-content class="login-box">
            <mat-form-field appearance="fill">
                <mat-label>description</mat-label>
                <input type="text" matInput  [(ngModel)]="ds.name">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>ScadaID</mat-label>
                <input type="text" matInput  [(ngModel)]="ds.sid">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Update Period</mat-label>
                <input type="number" matInput  [(ngModel)]="ds.updatePeriod">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Update Period Type</mat-label>
                <input type="number" matInput  [(ngModel)]="ds.updatePeriodType">
              </mat-form-field>

              <section>
                <div *ngFor="let item of dsList">
                    <p>{{item.name}} Enabled: {{item.enabled}}</p>
                    
                    <button mat-button (click)="this.enable(item)">Enable</button>
                    <button mat-button (click)="this.disable(item)">Disable</button>
                    <div *ngFor="let dp of item.datapoints">
                      <p>Name: {{dp.name}}</p>
                      <p>State: {{dp.enabled}}</p>
                      <button mat-button (click)="this.toggleDPState(item, dp)">Toggle dp</button>
                    </div>
                    <div>
                      <h3>DataPoint creator</h3>
                      <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput  [(ngModel)]="dp.name">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Min value</mat-label>
                        <input type="number" matInput  [(ngModel)]="dp.minValue">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Max value</mat-label>
                        <input type="number" matInput  [(ngModel)]="dp.maxValue">
                      </mat-form-field>
                      <button mat-button (click)="this.createDp(item)">Add DP</button>
                    </div>
                </div>
              </section>

              
            
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="this.generateNew()">Generate</button>
            <button mat-button (click)="this.createDs()">Send</button>
        </mat-card-actions>
    </mat-card>
</div>
