

<h1>DataSources</h1>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let datasource of dsList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon [color]="datasource.enabled == true ? 'primary': 'error'">hive</mat-icon>  
         {{datasource.name}}
      </mat-panel-title>
      <mat-panel-description>
        <span>{{datasource.updatePeriod}} -</span>
        <span>{{datasource.updatePeriodType}}</span>
        
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      <button mat-button (click)="this.enable(datasource)">Enable</button>
      <button mat-button (click)="this.disable(datasource)">Disable</button>
      <mat-icon>edit</mat-icon>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let dp of datasource.datapoints">
        <button mat-icon-button [color]="dp.enabled == true ? 'primary' : 'warn'" (click)="this.toggleDPState(datasource, dp)">
          <mat-icon>hive</mat-icon>
        </button>
        <div mat-line>{{dp.name}}</div>
        <button mat-button>Remove</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-mini-fab (click)="openCreateDataPointDialog(datasource)">
          <mat-icon>add</mat-icon>
        </button>
        <!-- <button mat-button (click)="openCreateDataPointDialog(datasource)">Create</button> -->
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

<button mat-fab (click)="openCreateDataSourceDialog()">
  <mat-icon>add</mat-icon>
</button>

